.container{
    border: 5px solid grey;

    /* box-sizing: border-box; */
    margin: 0;
    padding: 0px;
    max-width: 75vh;
    min-height: 75vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.container div{
    box-sizing: border-box;
    border: 1px solid grey;
}